---
# CloudStack Zone 설정 변수

# CloudStack API 설정
# API URL은 Management 서버의 IP/호스트명으로 설정
# api_url 포맷은 별도로 수정하지 않는 한 다음과 동일함
cs_api_url: "http://{{ hostvars[groups['management'][0]]['ansible_host'] }}:8080/client/api"

# Web UI 로그인 -> 우측 상단 프로필 -> profile 클릭 -> 우측 상단에 Generate API Keys 클릭
cs_api_key: "Fjmc7cfxf-XhRmGkoSjETykBsBSdpyzAdXhw5iqx9hAWRuQ4i_wkSuagdu38yfH5DU9LQmYV_hpn8ei8vKCS6A"  
cs_api_secret: "rpTPhQ1eCDodZLQfoDWsf-sIuXHELdNRO8pXF3P1NmVUBIIxKnhmQfbeflZtLHsc_Cr32WVA25rd9j32onphmA"  

# Zone 설정 (단일 Zone)
zone_name: "TEST"
zone_dns1: "8.8.8.8"
zone_dns2: "8.8.4.4"
zone_internal_dns1: ""
zone_internal_dns2: ""

# Network 유형 설정 (Basic / Advanced), Advanced 권장
zone_network_type: "Advanced"
# Zone_Guest_CIDR 설정 (Advanced 네트워크에서 필요)
# Isolate Guest 트래픽용 CIDR 블록으로 사용되므로, Public IP 대역과 겹치지 않도록 주의
zone_guest_cidr: "192.168.0.0/24"

# Physical Networks 설정 (리스트)
# 구축된 네트워크에 맞게 할당하고자 하는 networklabel을 지정해야 함
# 가령 Public Network가 cloudbr1 브릿지에 연결되어 있다면 -> Public 트래픽의 kvm_networklabel을 cloudbr1로 지정
cloudstack_physical_networks:
  - name: "PhysicalNetwork"
    isolation_methods: "VXLAN"
    vlan_range: "5000-6000"  # VXLAN VNI 범위
    traffic_types:
      - type: "Management"
        kvm_networklabel: "cloudbr0"
      - type: "Guest"
        kvm_networklabel: "cloudbr1"
      - type: "Public"
        kvm_networklabel: "cloudbr1"
      - type: "Storage"
        kvm_networklabel: "cloudbr0"

# Public IP 범위 설정 (System VM 및 Public 트래픽용)
cloudstack_public_ip_ranges:
  - physical_network_name: "PhysicalNetwork"
    start_ip: "10.10.0.220"
    end_ip: "10.10.0.230"
    gateway: "10.10.0.1"
    netmask: "255.255.255.0"
    vlan: "untagged"  

# Pods 설정 (리스트)
cloudstack_pods:
  - name: "Internal"
    gateway: "10.15.0.1"
    netmask: "255.255.255.0"
    start_ip: "10.15.0.160"
    end_ip: "10.15.0.170"

# Clusters 설정 (리스트, pod_name 지정 필요)
cloudstack_clusters:
  - name: "testbed"
    pod_name: "Internal"
    hypervisor: "KVM"
    cluster_type: "CloudManaged"

# Hosts 설정 (리스트, cluster_name 지정 필요)
cloudstack_hosts:
  # 하위에 나열하는 방식으로 노드 추가 
  # 기본적으로 KVM 호스트는 Root 로그인이 가능하도록 세팅이 되어 있어야 함
  - name: "N12"
    cluster_name: "testbed"
    pod_name: "Internal"
    ip: "10.15.0.117"
    username: "root"
    password: "{{ vault_kvm_host_password | default('qhdks') }}"
  

# Primary Storages 설정 (리스트)
# 만약, 스크립트를 이용하여 NFS 서버를 Zone 혹은 Cluster에 추가하려는 경우,
# cloudstack-infra/mgmt-node/nfs-server 내의 register-primary-storage.sh 스크립트를 참고
cloudstack_primary_storages:
  - name: "test-primary"
    cluster_name: "testbed"
    pod_name: "Internal"
    server: "10.15.0.118"
    path: "/export/primary"
    scope: "cluster"

# Secondary Storages 설정 (리스트)
# 만약, 스크립트를 이용하여 NFS 서버를 Zone 혹은 Cluster에 추가하려는 경우,
# cloudstack-infra/mgmt-node/nfs-server 내의 register-secondary-storage.sh 스크립트를 참고
cloudstack_secondary_storages:
  - name: "test-secondary"
    server: "10.15.0.118"
    path: "/export/secondary"
    provider: "NFS"
