---
# NFS Storage role - NFS 서버 설정

- name: Install NFS server packages
  apt:
    name:
      - nfs-kernel-server
      - quota
    state: present

- name: Check if storage disk partition exists
  stat:
    path: "{{ storage_device }}1"
  register: storage_partition
  when: storage_device is defined

- name: Create partition on storage disk
  parted:
    device: "{{ storage_device }}"
    number: 1
    state: present
  when:
    - storage_device is defined
    - not storage_partition.stat.exists

- name: Format storage partition
  filesystem:
    fstype: ext4
    dev: "{{ storage_device }}1"
  when:
    - storage_device is defined
    - not storage_partition.stat.exists

- name: Create export directory
  file:
    path: "{{ nfs_export_path }}"
    state: directory
    mode: '0777'

- name: Mount storage partition
  mount:
    path: "{{ nfs_export_path }}"
    src: "{{ storage_device }}1"
    fstype: "{{ storage_filesystem }}"
    opts: "{{ storage_mount_options }}"
    state: mounted
  when: 
    - storage_device is defined
    - mount_storage_device | default(true)

- name: Create NFS export directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0777'
    owner: nobody
    group: nogroup
  loop:
    - "{{ nfs_export_path }}/primary"
    - "{{ nfs_export_path }}/secondary"

- name: Configure NFS exports
  lineinfile:
    path: /etc/exports
    line: "{{ nfs_export_path }} {{ item }}(rw,async,no_root_squash,no_subtree_check)"
    create: yes
  loop: "{{ nfs_allowed_networks }}"
  notify: restart nfs-server

- name: Configure NFS mount daemon options
  lineinfile:
    path: /etc/default/nfs-kernel-server
    regexp: '^RPCMOUNTDOPTS='
    line: 'RPCMOUNTDOPTS="-p {{ nfs_mountd_port }} --manage-gids"'
  notify: restart nfs-server

- name: Configure statd options in nfs-common
  lineinfile:
    path: /etc/default/nfs-common
    regexp: '^STATDOPTS='
    line: 'STATDOPTS="--port {{ nfs_statd_port }} --outgoing-port {{ nfs_statd_outgoing_port }}"'
  notify: restart nfs-server

- name: Enable statd in nfs-common
  lineinfile:
    path: /etc/default/nfs-common
    line: 'NEED_STATD=yes'
  notify: restart nfs-server

- name: Configure quota daemon options
  lineinfile:
    path: /etc/default/quota
    regexp: '^RPCRQUOTADOPTS='
    line: 'RPCRQUOTADOPTS="-p {{ nfs_quotad_port }}"'
  notify: restart nfs-server

- name: Export NFS shares
  command: exportfs -a
  changed_when: false

- name: Ensure NFS server is running
  systemd:
    name: nfs-kernel-server
    state: started
    enabled: yes
